.App{
    background-color: #dde3eb;
    overflow:scroll;
}
.navBar{
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navBar img{
    height: 100%;
}

.Tabs{
    margin-left: 13%;
    display: flex;
    width: 50%;
    gap: 5%;
}

.Tabs h1{
    color: #ffffff80;
    font-size: 1.50em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.Tabs h1 :hover{
    color: white;
}

.Buttons{
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    height: 100%;
    align-items: center;
    gap: 20%;
}

.Buttons button{
    width: auto;
    font-size: 1em;
    height: 50%;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, blue, rgb(107, 0, 128));
    color: white;
    border: none;
    border-width: 2px;
    align-items: center;
    white-space: nowrap;
    border-radius: 15px;
}

.navBar button:hover{
    background-image: none;
    background-color:  rgb(107, 0, 128);
    border-color: white;
}

.SearchBar{
    width: 100%;
    margin-top: 12.5%;
    margin-left: 25%;
    align-items: center;
    display: flex;
}

.SearchBar button{
    margin-top: 0;
    height: 35px;
    border-radius: 7.5px;
    background-image: linear-gradient(90deg, blue, rgb(107, 0, 128));
    color: white;
}

.SearchBar input{
    width: 50%;
    height: 30px;
    font-size: larger;
    border-radius: 7.5px;
    text-indent: 1%;
}

.Heading{
    margin-top: 5%;
    margin-left: 1%;
    font-size: 3em;
}

.Categories {
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }


.Template {
    background-color: #fff;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Template a{
    align-items: baseline;
  }
  
  .Template:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .SmallGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .Cell img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: black;
  }
  
  .Cell img:hover {
    transform: scale(1.1);
  }
  
  .Cell {
    width: 100%;
  }
  
  .Template h2 {
    margin-bottom: 20px;
    color: #232f3e;
    font-size: 1.5rem;
  }
  
  .Template p {
    margin-top: 10px;
    color: #333;
  }